*{
    box-sizing: border-box;
    margin:0; padding:0;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-wrap: wrap;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
section {
    flex-basis:50%;
    min-height:90vh;
}
section#left{
    background-color: #1FA1F2;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 1px 1px 0px rgba(0,0,0,.05);
}
section#left div#bgtwitter{
    content: "";
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    background-image: url("twitter.svg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: -40% 50%;
    z-index:0;
    opacity: 0.1;
}
section#left >div#content{
    position: relative;
    max-width: 440px;
    z-index:1;
}
section#left h2{
    font-size:1.7em;
    margin-bottom: 1em;
}
section#left > div > p{
    font-weight: bold;
    margin-bottom: 1em;
}
section#left ul{
    list-style-type: none;
    margin:2em 0;
}
section#left ul li{
    display: flex;
    margin-bottom:2em;
}
section#left ul i{
    /*font-size: 3em;*/
    margin-right:.5em;
    flex-grow: 1;
}
section#left ul div {
    flex-basis: 80%;
}
section#left ul p{
    font-size: 0.9em;
}
section#right{
    display: flex;
    justify-content: center;
    align-items: center;
}
section#right div{
    max-width:350px;
}
section#right div#icons{
    display: flex;
    justify-content: space-between;
}
section#right div#icons i{
    color:#1FA1F2;
}
section#right div#icons a{
    padding:1em;
}
section#right h2{
    font-size: 1.7em;
}
section#right p{
    margin: 3em 0 1em;
    font-weight: bold;
    font-size: 1.1em;
}
section#right a{
    display: block;
    padding: .5em 1em;
    margin-bottom:1em;
    border-radius: 2em;
    background: #1FA1F2;
    color:#fff;
    text-align: center;
    font-weight:bold;
    font-size: .9em;
}
section#right a.outline-link{
    color:#1FA3F2;
    border:1px solid;
    background: rgb(255,255,255);
}



footer{
    flex-basis: 100%;
}
footer ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}
footer ul li a{
    display: block;
    color:#AFBDC6;
    padding:0 .25em .25em;
}

