$mobile: 320px;
$tablet: 720px;
@mixin media($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

h1 {
  @include media($tablet) {
    color: red;
  }
  @include media($mobile) {
    color: green;
  }
}
div {
  @include media($tablet) {
    color: yellow;
  }
  @include media($mobile) {
    color: blue;
  }
}
